# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID="62s8lsihsx8v"
CONTENTFUL_ACCESS_TOKEN="CFPAT-SqSyh33MlAVTZAlnWyKXwGLTn7uwqi8jieAtrWUKSdo"
